body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
}

h1,
h3 {
  color: #333;
}

form {
  margin-bottom: 20px;
}

input,
button {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #0070f3;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #005bb5;
}

div {
  margin: 20px;
}
